<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dash-styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>
    <title>dashboard</title>
</head>

<body>
    <div class="first-container">
        <div class="dashboard">
            <div class="logo">
                <h2><strong>LDFinance</strong></h2>
                </p>
            </div>
            <div class="home">
                <a class="link-tag" href="#"><img src="/static/images/home.png" alt="home">Home</a>
            </div>
            <div class="balances">
                <a class="link-tag" href="#"><img src="/static/images/balances.png" alt="balances">Balances</a>
            </div>
            <div class="account-reports">
                <a class="link-tag" href="#"><img src="/static/images/accounts & reports.png"
                        alt="account & reports">Accounts &
                    Reports</a>
            </div>
            <div class="invoices">
                <a class="link-tag" href="#"><img src="/static/images/invoices.png" alt="invoice">Invoice</a>
            </div>
            <div class="transactions">
                <a class="link-tag" href="#"><img src="/static/images/transactions.png"
                        alt="transactions">Transactions</a>
            </div>
            <div class="virtual-cards">
                <a class="link-tag" href="#"><img src="/static/images/virtual cards.png" alt="virtual cards"> Virtual
                    Cards</a>
            </div>
            <div class="airtime-bills">
                <a class="link-tag" href="#"><img src="/static/images/airtime & bills.png" alt="airtime-bills"> Airtime
                    Bills</a>
            </div>
            <div class="beneficiaries">
                <a class="link-tag" href="#"><img src="/static/images/beneficiaries.png" alt="beneficiaries">
                    Beneficiaries</a>
            </div>
            <div class="username">
                <div class="circle">
                    <h3>US</h3>
                </div>
                <div class="name">
                    <h3>Username</h3>
                    <p>PERSONAL ACCOUNT</p>
                </div>
            </div>
        </div>
        <div class="content-box">
            <div class="user">
                <p>Welcome,</p>
            </div>
            <div class="your-balances">
                <p><strong>Your balances</strong></p>
            </div>
            <div class="balances-box">
                <div class="box1">
                    <div class="content1">
                        <div class="img">
                            <img src="/static/images/usa-flag.png" alt="flag1">
                        </div>
                        <div class="united-states"><strong>United States Dollar</strong></div>
                    </div>
                    <div class="available-balance1">AVAILABLE BALANCE</div>
                    <div class="money1"><strong>$0.00</strong></div>
                </div>
                <div class="box2">
                    <div class="content2">
                        <div class="img">
                            <img src="/static/images/great-britain-flag.png" alt="flag2">
                        </div>
                        <div class="british-pounds"><strong>British Pounds</strong></div>
                    </div>
                    <div class="available-balance2">AVAILABLE BALANCE</div>
                    <div class="money1"><strong>£0.00</strong></div>
                </div>
                <div class="box3">
                    <div class="content3">
                        <div class="img">
                            <img src="/static/images/nigeria-flag.png" alt="flag3">
                        </div>
                        <div class="nigeria-naira"><strong>Nigeria Naira</strong></div>
                    </div>
                    <div class="available-balance3">AVAILABLE BALANCE</div>
                    <div class="money3"><strong>N0.00</strong></div>
                </div>
            </div>
            <div class="quick-actions">
                <p><strong>Quick actions</strong></p>
            </div>
            <div class="quick-actions-box">
                <div class="box2a">
                    <img src="/static/images/send money.jpeg">
                    <div class="send-money">Send money to a user</div>
                </div>
                <div class="box2b">
                    <img src="/static/images/refer.jpeg">
                    <div class="refer">Refer a friend and earn</div>
                </div>
                <div class="box2c">
                    <img src="/static/images/create.jpeg">
                    <div class="create">Create my foreign account</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>