<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>homepage</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <span class="Nav">
    <a class="Navlink_1" href="/login">FOR INDIVIDUALS</a>
    <a class="Navlink_2" href="#">FOR BUSINESSES</a>
  </span>
  <span class="face">
    <h4 class="grey">LDFinance</h4>
    <a class="linkproduct" href="#">product</a>
    <a class="linkblog" href="#">Blog</a>
    <a class="linkcenter" href="#">Help Center</a>
    <a href="/login" class="loginbtn btn btn-primary">Login</a>
    <a href="/register" class="getstartedbtn btn btn-primary">Get started-for free</a>
    <h1 class="text">
      Easily and quickly<br />
      transfer money to<br />
      anyone
    </h1>
    <p class="decs">
      Send money online from Africa to the UK and other European<br />
      countries with ease.
    </p>
    <a href=""><img class="pstore" src="/static/gplay.png" alt="google_play_img" /></a>
    <a href=""><img class="astore" src="/static/astore.png" alt="apple_store_img" /></a>
  </span>
  <span class="next_face">
    <h2 class="send">
      Send and receive money easily from <br />
      anywhere in the world
    </h2>
    <h4 class="fast">Fast, Secure, Reliable</h4>
    <p class="enjoy">
      Enjoy a seamless experience by sending money across borders<br />
      or to home dorm accounts through GoldFinance.
    </p>
    <h4 class="trans">Transparent and Easy to Track</h4>
    <p class="follow">
      Follow your money across the world from your devices. No<br />
      hidden fees. No complicated processes.
    </p>
    <h4 class="tbest">
      The best way to send money to family &<br />
      friends
    </h4>
    <p class="with">
      With LDFinance foreign accounts, your loved ones can receive money<br />
      from abroad easily and securely.
    </p>
  </span>
  <span class="third_face">
    <h2 class="send begin">
      Begin to enjoy borderless<br />
      financial freedom
    </h2>
    <h3 class="open">Opening an account has never been this seamless.</h3>
    <div class="three">
      <div>
        <span class="circle">
          <h1>1</h1>
        </span>
        <p>
          <strong>Register in minutes</strong><br />
          Sign up online, or in our app with<br />
          your email address
        </p>
      </div>
      <div>
        <span class="circle">
          <h1>2</h1>
        </span>
        <p>
          <strong>Complete KYC verification</strong><br />
          Verify your identity using your<br />
          government-issued ID
        </p>
      </div>
      <div>
        <span class="circle">
          <h1>3</h1>
        </span>
        <p>
          <strong>Get your virtual account</strong><br />
          Share your account details to get<br />
          paid, or spend around the world<br />
          with your debit card.
        </p>
      </div>
    </div>
    <button class="gstarted">Get Started</button>
  </span>
  <span class="forth_face">
    <h1 class="send begin">
      Resources to Help You Learn<br />
      About LDFinance
    </h1>
    <h3 class="expertly">
      Expertly curated articles to help you understand how our foreign
      accounts work.
    </h3>
    <div class="three space">
      <div>
        <img src="/static/card.jpeg" alt="card" />
        <p>
          <strong>Updates: LDFinance Virtual USD Cards</strong><br />
          GoldFinance Team/June 5, 2023
        </p>
      </div>

      <div>
        <img src="/static/track.jpeg" alt="track" />
        <p>
          <strong>Track Our Exchange Rates on LDFinance with<br />
            the New Rates Page</strong><br />Winner Ajibola/December 22, 2022
        </p>
      </div>
      <div>
        <img src="/static/langgg.jpeg" alt="Language" />
        <p>
          <strong>You Can Now Switch Your LDFinance App<br />
            Language to Swahili!</strong><br />Winner Ajibola/December 22, 2022
        </p>
      </div>
    </div>
  </span>
  <span class="fifth_face">
    <h1 class="get_digital">Get digital banking at <br />your fingertips</h1>
    <h5 class="tbest">
      Get our mobile app on any device you use on the<br />
      App Store or Google Playstore
    </h5>
    <a href=""><img class="pstore_2" src="/static/gplay.png" alt="google_play_img" /></a>
    <a href=""><img class="astore_2" src="/static/astore.png" alt="apple_store_img" /></a>
    <img class="mon" src="/static/money.jpeg" alt="money" />
  </span>
</body>

</html>